{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1 class="mb-4">{{ course.title }}</h1>

<div class="accordion" id="accordionExample">
    {% for lecture in course.course_lectures.all %}
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#lecture{{ lecture.id }}" aria-expanded="false" aria-controls="collapseOne">
                {{ lecture.title }}
            </button>
        </h2>
        <div id="lecture{{ lecture.id }}" class="accordion-collapse collapse" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                {% for material in lecture.lecture_materials.all %}
                <h4>{{ material.title }}</h4>
                {% if material.type == 'Text' %}
                <p>{{ material.text }}</p>
                {% elif material.type == 'Image' %}
                {% if material.file %}
                <img src="{{ material.file.url }}" height="300" weight="300" class="mb-3">
                {% endif %}
                {% elif material.type == 'Video' %}
                {% if material.file %}
                <video src="{{ material.file.url }}"></video>
                {% endif %}
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>



{% endblock %}